<div class="avatar-background">
    <div class="container">
        <div class="row align-items-center vh-50 py-5">
            <div class="col-xl-5 col-lg-6 ml-auto py-2 text-light order-2 text-center text-lg-left">
                <h1 class="mb-0">
                    <span class="ion ion-ios-contact-outline"></span>
                    <span> {{ artist.name }}</span>
                </h1>
                <h4 class="mb-0">
                    <span class="ion ion-ios-people-outline"></span>
                    <span> {{ artist.followers.total | number}} Followers</span>
                </h4>
                <p class="lead mb-3"><span>A brief portafolio about your artist. </span> To get more official information: <a class="font-weight-bold text-white" target="_blank" [href]="artist.external_urls.spotify">click here.</a></p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="artist.popularity + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    Popularity: {{ artist.popularity }}%
                  </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col mr-auto order-1 order-lg-last align-items-center justify-content-center justify-content-lg-end d-flex">
                 <!-- <div class="img-fluid text-white">
                    <svg class="i-desktop" viewBox="0 0 32 32" width="240" height="240" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5">
                        <path d="M10 29 C10 29 10 24 16 24 22 24 22 29 22 29 L10 29 Z M2 6 L2 23 30 23 30 6 2 6 Z"></path>
                    </svg>
                 </div> -->
                 <img id="img-avatar" [src]="artist.images | noimage" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
        </div>
    </div>
</div>