<app-loader [loadingTerm]="termToLoad" *ngIf="loaderStatus"></app-loader>
<div class="avatar-background" *ngIf="!loaderStatus">
    <div class="container">
        <div class="row align-items-center vh-50 py-5">
            <div class="col-xl-5 col-lg-6 ml-auto py-2 text-light order-2 text-center text-lg-left animated fadeIn">
                <h1 class="mb-0">
                    <span class="ion ion-ios-contact-outline"></span>
                    <span> {{ artist.name }}</span>
                </h1>
                <h4 class="mb-0">
                    <span class="ion ion-ios-people-outline"></span>
                    <span> {{ artist.followers.total | number}} Followers</span>
                </h4>
                <p class="lead mb-3"><span>A brief portafolio about your artist. </span> To get more official information: <a class="font-weight-bold text-white" target="_blank" [href]="artist.external_urls.spotify">click here.</a></p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="artist.popularity + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    Popularity: {{ artist.popularity }}%
                  </div>
                </div>
                <p class="card-text mt-2">
                  Genre(s):
                  <ng-container *ngIf="artist.genres.length == 0; else elseTemplate">
                      <span class="badge badge-pill badge-primary mx-1">
                          Unknown
                        </span>  
                  </ng-container>
                  <ng-template #elseTemplate>
                      <span class="badge badge-pill badge-primary mx-1" *ngFor="let genre of artist.genres">
                        {{ genre }}
                      </span>
                  </ng-template>
                </p>
                <a class="btn btn-outline-light btn-md mr-2" [routerLink]="['/search']">Go back</a>   
            </div>
            <div class="col-xl-4 col-lg-6 col mr-auto order-1 order-lg-last align-items-center justify-content-center justify-content-lg-end d-flex animated pulse">
                 <img id="img-avatar" [src]="artist.images | noimage" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div class="container table-responsive" *ngIf="!loaderStatus">
    <h6 class="mb-0 mt-3 wow animated fadeInUp">
        <span class="ion ion-ios-musical-notes-outline"></span>
        <span> Top Tracks</span>
    </h6>
    <table class="table table-hover mt-5 text-light table-tracks">
        <tbody>
          <tr *ngFor="let track of topTracks" class="wow animated fadeInUp">            
            <td class="w-25 align-middle text-center">
                <img [src]="track.album.images | noimage" alt="image" class="img-fluid img-top-track">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [style.width]="track.popularity + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      {{ track.popularity }}%
                    </div>
                </div>
            </td>
            <td class="align-middle">{{ track.name }}</td>
            <td class="align-middle">
              <!-- <audio [src]="track.preview_url" controls></audio> -->
              <iframe [src]=" track.id | safeDom " width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
</div>